<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript">
			c=0
			
			function GetText(url)
			{
				r=new XMLHttpRequest();
				r.open("GET", url, false);
				r.send(null)
				if (r.status!==200)
					throw new Error(r.statusText);
				return r.responseText;
			}
			
			function UpdateTemperature()
			{
				data=JSON.parse(GetText("/info.json"))
				document.getElementById("curr_temp").innerHTML=new Number(data.curr_temp).toPrecision(3);
				document.getElementById("setpoint").innerHTML=Math.floor(data.setpoint);
				document.getElementById("gotopoint").innerHTML=Math.floor(data.gotopoint);
				document.getElementById("switch").innerHTML=(data.switch_status==true)?"On":"Off";
			}
			
			function UpdateChart()
			{
				document.getElementById("chart").src="/chart.png?c="+(c++);
				document.getElementById("datetime").innerHTML=GetText("/date")+" "+GetText("/time");
			}
			
			function OnLoad()
			{
				UpdateTemperature();
				window.setInterval(UpdateTemperature, 5000);

				UpdateChart();
				window.setInterval(UpdateChart, 60000);
			}

			function btnSettings_Clicked()
			{
				window.location.href="/settings.html";
			}
		</script>
	</head>
	<body onload="javascript:OnLoad();" style="font-family: sans-serif">
		<table><tr>
			<td style="width: 150px">
				current <span id="curr_temp" style="font-weight: bold; font-size: 150%"></span>&deg;F<br />
				setpoint <span id="setpoint" style="font-weight: bold; font-size: 120%"></span>&deg;F<br />
				go to  <span id="gotopoint" style="font-weight: bold; font-size: 120%"></span>&deg;F<br />
				switch <span id="switch" style="font-weight: bold; font-size: 120%"></span>
			</td>
			<td style="width: 150px; vertical-align: middle; text-align: center;">
			  <form id="frmSettings">
			  	<button type="button" id="btnSettings" onclick="btnSettings_Clicked();" style="width: 100px; height: 50px;">Settings</button>
			  	<p id="datetime" style="font-size: 75%" />
			  </form>
			</td>
		</tr></table>
		<div>
			<a href="/chart.html">
				<img id="chart" width="300px" height="100px" />
			</a>
		</div>
	</body>
</html>
